* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.app{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 120px;
    position: relative;
    height: 75vh;
}

.time-select, .sound-picker,.player-container{
    height: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.player-container {
    position: relative;
}

.player-container svg{
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    pointer-events: none;
}

.time-display{
    position: absolute;
    bottom: 5%;
    color: white;
    font-size: 50px;
}

video{
    position: fixed;
    left: 0%;
    top: 24vh;
    width: 100%;
    z-index: -10;
}

.time-select button,
.sound-picker button{
    font-weight: 100;
    color: white;
    width: 30%;
    height: 10%;
    background: none;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;        
    font-size: 20px;
    transition: all 0.3s ease;
}


.time-select button:hover {
    color: white;
    background: lightcoral;
}


.sound-picker button {
    border: 1px solid white;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 30px;
}

.sound-picker button:hover{
    background: teal;
}

.sound-picker button img{
    height: 100%;
}

/*.logo{
    position:absolute;
    left: 46%;
    top: 20px;
}*/

.logo{
}

.logo img{

    width: 135px;
    height: auto;
    margin-left: 45%;
    position:absolute;
}

body{
    overflow-x: hidden;
}

.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: teal;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.7s;
    font-weight:200;
}

.nav a{
    display: block;
    padding: 20px 30px;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.nav a:hover{
    color: lightcoral;
    transition: 0.4s;
}

#welcome-text{
    margin-left: 28%;
    padding-top: 8vh;
    color: white;
    font-size: 50px;
}

#links {
    position:relative;
    margin-left: 38%;
    margin-top: 20px;
    font-size: 25px;
}

#links a{
    text-decoration: none;
    color: white;
}

#links a:hover{
    color: lightcoral;
    transition: 0.4s;
}

.block-2{
    height: 5vh;
    background-color: white;
}

.block-3{
    margin-top: 120px;
    position: relative;
    height: 76vh;
    background-color: teal;
}

.nav .close{
    position: absolute;
    top: 30px;;
    right:0px;
    margin-left: 50px;
    font-size: 30px;
}

#content {
    transition: margin-left 0.7s;
    width: 100%;
}

.slide {
    display: block;
    padding: 50px 30px;
}

.slide a{
    color: teal;
    font-size: 30px;
}

.slide a:hover{
    color: lightcoral;
    transition: 0.4s;
}

#why-heading{
    color: white;
text-align: center;
padding: 8vh;
}

#why-heading:hover{
    color: lightcoral;
    transition: 0.4s;
}

#why{
    color: white;
    margin-left: 100px;
    margin-right: 80px;
    margin-top: 0px;
    font-size: 18px;
    font-weight: 200;
}

#why a{
    text-align: center;
    text-decoration: none;
    color: white;
}
#why p{
    text-align: center;
}

#why button{
    font-weight: 100;
    width: 18%;
    height: 10%;
    background: none;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 10px;        
    font-size: 25px;
    transition: all 0.3s ease;
    margin-top: 30px;
    margin-left: 40%;
    font-weight: bold;
}

#why button:hover{
    background: lightcoral;
}

#butt-home a{
    text-align: center;
    text-decoration: none;
    color: white;
}
#butt-home button:hover{
    background: lightcoral;
}

#butt-home button{
    font-weight: 100;
    width: 30%;
    height: 10%;
    background: none;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 10px;        
    font-size: 50px;
    transition: all 0.3s ease;
    margin-top: 60px;
    margin-left: 35%;
    font-weight: bold;
}

.credits{
    margin-left: 85%;
    margin-top: 7% ;
}

.credits a{
    text-decoration: none;
    color: white;
}

.credits a:hover{
    color: lightcoral;
}

.credits-app{
    margin-left: 85%;
    margin-top:-2% ;
}

.credits-app a{
    text-decoration: none;
    color: white;
}

.credits-app a:hover{
    color: turquoise;
}

.credits-why{
    margin-left: 85%;
    margin-top: 0.5% ;
}

.credits-why a{
    text-decoration: none;
    color: white;
}

.credits-why a:hover{
    color: lightcoral;
}